In [88]:
import tushare as ts
import pandas as pd
pro = ts.pro_api()
start_date='20191018'
end_date='20191022'
data = pd.DataFrame(columns=['交易日期','沪深成交量（股）','沪深成交额（元）'])
#初始化一个空的dataframe装数据，并指定列名

In [89]:
cal_open_date=pro.trade_cal(exchange='', start_date=start_date, end_date=end_date)
#计算开市日期

In [90]:
for date_temp in list(cal_open_date[cal_open_date.is_open==1].cal_date):
    #list中为交易所开市日期列表
    df_daily = pro.daily(trade_date=date_temp)
    #df_daily是取所有股票的日行情数据
    tradedate=df_daily.iloc[0].trade_date
    #交易日期
    tradevol=int(df_daily.vol.sum()*100)
    #成交量股
    tradeamount=int(df_daily.amount.sum()*1000)
    #成交额元
    datalist={'交易日期':tradedate,'沪深成交量（股）':tradevol,'沪深成交额（元）':tradeamount}
    #Python中的花括号{}：代表dict字典数据类型，字典是Python中唯一内建的映射类型。字典中的值没有特殊的顺序
    #用字典配合append函数，可以不断插入行数据。用序列LIST就不行。
    data=data.append(datalist,ignore_index=True, verify_integrity=False, sort=None)
    #ignore_index：默认值为False，如果为True则不使用index标签
    #verify_integrity ：默认值为False，如果为True当创建相同的index时会抛出ValueError的异常
    #sort：boolean，默认是None，该属性在pandas的0.23.0的版本才存在。
data

       交易日期     沪深成交量（股）      沪深成交额（元）
0  20191018  38799063555  415668508044
1  20191021  34229461440  369989374121
2  20191022  32489791977  356910320015

<class 'pandas.core.frame.DataFrame'>

In [62]:
data2

       交易日期     沪深成交量（股）      沪深成交额（元）
0  20191021  34229461440  369989374121

In [61]:
data2

       交易日期     沪深成交量（股）      沪深成交额（元）
0  20191021  34229461440  369989374121

In [42]:
datalist

['20191021', 34229461440, 369989374121]

In [44]:
data=data.append(datalist, ignore_index=True, verify_integrity=False, sort=None)
data

D:\MyProgram\Anaconda3\lib\site-packages\pandas\core\indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

  交易日期 沪深成交量（手） 沪深成交额（千元）             0
0  NaN      NaN       NaN      20191021
1  NaN      NaN       NaN   34229461440
2  NaN      NaN       NaN  369989374121
3  NaN      NaN       NaN      20191021
4  NaN      NaN       NaN   34229461440
5  NaN      NaN       NaN  369989374121

In [15]:
data = pro.stock_basic(exchange='', list_status='L', fields='ts_code,symbol,name,area,industry,list_date')
#沪深总股票

In [21]:
df_daily.iloc[0].trade_date
#交易日期

'20191021'

SyntaxError: invalid syntax (<ipython-input-45-e09b4431fab8>, line 5)